<a href="https://colab.research.google.com/github/kanru-wang/naacl_nlp_transfer_learning_tutorial/blob/master/Document_level_classification_using_fast_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Notebook accompanying NAACL 2019 tutorial on "Transfer Learning in Natural Language Processing".

The tutorial will be given on June 2 at NAACL 2019 in Minneapolis, MN, USA by [Sebastian Ruder](http://ruder.io/), [Matthew Peters](https://www.linkedin.com/in/petersmatthew), [Swabha Swayamdipta](http://www.cs.cmu.edu/~sswayamd/index.html) and [Thomas Wolf](http://thomwolf.io/).

You can check the [webpage](https://naacl2019.org/program/tutorials/) of NAACL tutorials for more information.

Further material: [slides](http://tiny.cc/NAACLTransfer) and [code](http://tiny.cc/NAACLTransferCode).

# Document level classification

In this notebook, we recreated the [text classification example](https://github.com/fastai/fastai/blob/master/examples/text.ipynb) by Sylvain Gugger from fast.ai which show how to do transfer learning using the [fast.ai](https://github.com/fastai/fastai) library.

This example consists in creating a language model and then transfering it to a classifier.

In [0]:
from fastai.text import *   # Quick access to NLP functionality

## Get a document classification dataset: IMDB

Download the IMDB dataset and inspect itcreate

In [0]:
path = untar_data(URLs.IMDB_SAMPLE)
print("Path:", path)
df = pd.read_csv(path/'texts.csv')
df.head()

Path: /root/.fastai/data/imdb_sample

      label                                               text  is_valid
0  negative  Un-bleeping-believable! Meg Ryan doesn't even ...     False
1  positive  This is a extremely well-made film. The acting...     False
2  negative  Every once in a long while a movie will come a...     False
3  positive  Name just says it all. I watched this movie wi...     False
4  negative  This movie succeeds at being one of the most u...     False

Create a DataBunch for each of the language model and the classifier:

In [0]:
data_lm  = TextLMDataBunch.from_csv(path, 'texts.csv')
data_clas = TextClasDataBunch.from_csv(path, 'texts.csv',
                       vocab=data_lm.train_ds.vocab, bs=42)

We'll fine-tune the language model. fast.ai has a pre-trained English model available that we can download, we just have to specify it like this:

In [0]:
moms = (0.8,0.7)
learn = language_model_learner(data_lm, AWD_LSTM)
learn.unfreeze()
learn.fit_one_cycle(4, slice(1e-2), moms=moms)
learn.save_encoder('enc')

Fine tune it to create a classifier:

In [0]:
learn = text_classifier_learner(data_clas, AWD_LSTM)
learn.load_encoder('enc')
learn.fit_one_cycle(4, moms=moms)

In [0]:
learn.unfreeze()
learn.fit_one_cycle(8, slice(1e-5,1e-3), moms=moms)